.facemesh {
  &-depth, &-final {
    @include fade;
  }
  &-depth {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100vh;
    transform: translate(-50%, -50%);// scale(-2.5, 2);
  }
  &-final {
    position: absolute !important;
    top: -18px !important;
    width: 1536px !important;
    height: 2048px !important;

    &.full {
      position: fixed !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      width: unset !important;
      height: unset !important;
    }

    &.screen {
      position: fixed !important;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      width: unset !important;
      height: unset !important;
    }

    &.glass {

    }
  }

  &-cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin: -12px;
    background-image: url('assets/images/cursor.png');
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    transform: translate(0px, 0px);
    transition: opacity .5s;
  }

  .instructions {
    @include full;
    pointer-events: none;
    user-select: none;
    &-screen, &-glass {
      @include middle;
      @include fade;
      margin-top: 100px;
      color: white;
      font-size: 4rem;
      font-weight: 600;
      text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .75);
      white-space: nowrap;
    }

    &-glass {

      &:after {
        position: absolute;
        left: 50%;
        width: 26rem;
        height: 26rem;
        background-image: url('assets/images/portrait.png');
        background-size: cover;
        content: '';
        transform: translate(-50%, -28rem);
      }
    }
  }
}
